---
// load fonts and font utils
import FontLoader from "@/components/fonts/FontLoader.astro";
import GoogleFontsLoader from "@/components/fonts/GoogleFontsLoader.astro";
import FontUtils from "@/components/fonts/FontUtils.astro";

// load styles
import "@/styles/main.css";

// load default metadata
import { DEFAULT_METADATA } from "@/constants/metadata";

// load config
import { CONFIG_CLIENT } from "@/config/client";

// load transitions
import { ClientRouter } from "astro:transitions";

// load theme-script component
import ThemeScript from "@/components/ThemeScript.astro";

// load utils
import { handleMetadataTitle } from "@/utils/content/metadata";
import { filterUndefined } from "@/utils/data/objects";
import { DEFAULT_LOCALE } from "@/config/i18n";

// load types
import type { LocaleAlternate, Metadata } from "@/types/common";

// load routes
import { ROUTES } from "@/constants/routes";

const {
  SITE_URL_CANONICAL,
  SITE_TITLE,
  SITE_DESCRIPTION,
  AUTHOR_NAME,
  PLAUSIBLE_DOMAIN,
  PLAUSIBLE_SCRIPT_URL,
} = CONFIG_CLIENT;

export interface BaseHeadProps {
  metadata: Metadata;
  alternates?: LocaleAlternate[];
  currentPath?: string;
}

/**
 * @description receive every single metadata from every single specific page
 * @example. <html lang="en">
 *    // pass metadata to BaseHead
 *    <BaseHead metadata={metadata} />
 *    <body>
 *      // page content
 *      <slot />
 *    </body>
 *  </html>
 */
const { metadata, alternates = [], currentPath } = Astro.props as BaseHeadProps;

/**
 * @description site: SITE_URL var + '/', SITE_URL changed by environment
 *  url: current page url, per page
 */
const { url } = Astro;
const { pathname, search } = url;
const resolvedPath = currentPath ?? `${pathname}${search}`;

// replace host - all deployments point to single canonical deployment url
const canonicalUrl = new URL(resolvedPath, SITE_URL_CANONICAL);
const defaultAlternate = alternates.find((alternate) => alternate.locale === DEFAULT_LOCALE);

const handledMetadata = handleMetadataTitle(metadata);

const filteredMetadata = filterUndefined(handledMetadata);
const mergedMetadata: Required<Metadata> = { ...DEFAULT_METADATA, ...filteredMetadata };

const { title, description, image } = mergedMetadata;

// convert to absolute url
const ogImageUrl = new URL(image, SITE_URL_CANONICAL);
---

<head>
  {/* Global Metadata */}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <meta name="theme-color" content="" />

  {/* Generator for indicating the software or tool that generated the HTML page */}
  <meta name="generator" content={Astro.generator} />

  {/* Links */}
  {/* Root-Relative URL (pathname starts with /): */}
  <link rel="canonical" href={canonicalUrl} />

  {/* Favicon & App Icons  */}
  {/* Modern browsers prefer SVG an can scale it nicely */}
  <link rel="icon" type="image/svg+xml" href="/images/favicons/favicon.svg" />
  {/* Apple Touch Icon for iOS home screen */}
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png" />
  {/* General purpose PNG icon, e.g., for Android or some browsers */}
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png" />
  {/* Web App Manifest (ensure site.webmanifest is in the public root) */}
  <link rel="manifest" href="/site.webmanifest" />

  {/* Primary Meta Tags */}
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />
  <meta name="author" content={AUTHOR_NAME} />

  {/* Sitemap */}
  <link rel="sitemap" type="application/xml" title="Sitemap" href={`${ROUTES.STATIC.SITEMAP}`} />

  {/* Open Graph / Facebook */}
  <meta property="og:type" content="website" />
  <meta property="og:url" content={canonicalUrl} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={ogImageUrl} />

  {/* Twitter */}
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:url" content={canonicalUrl} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={ogImageUrl} />
  {/* <meta name="twitter:site" content="@你的Twitter用户名" /> */}
  {/* <meta name="twitter:creator" content="@你的Twitter用户名或作者用户名" /> */}

  {/* Analytics */}
  {
    PLAUSIBLE_SCRIPT_URL && (
      <>
        <link rel="preconnect" href={PLAUSIBLE_SCRIPT_URL} />
        {/* PLAUSIBLE_DOMAIN must be the same for all mirrors */}
        <script
          defer
          type="text/partytown"
          src={PLAUSIBLE_SCRIPT_URL}
          data-domain={PLAUSIBLE_DOMAIN}
        />
      </>
    )
  }

  {/* seo for muti-lang */}
  {
    alternates.map((alternate) => (
      <link
        rel="alternate"
        hreflang={alternate.locale}
        href={new URL(alternate.href, SITE_URL_CANONICAL)}
      />
    ))
  }
  {
    defaultAlternate && (
      <link
        rel="alternate"
        hreflang="x-default"
        href={new URL(defaultAlternate.href, SITE_URL_CANONICAL)}
      />
    )
  }

  {/* Theme */}
  {/* MUST be inside <head /> to avoid white flash, IMPORTANT */}
  <ThemeScript />

  {/* turn on the feature of view transitions in Astro */}
  {/* DISABLED FOR NOW, LEAD TO MEMORY LEAK WITH GSAP */}
  <!-- <ClientRouter fallback="none" /> -->

  {/* Load local fonts (Inter + JetBrains Mono) */}
  <FontLoader />

  {/* Load Chinese fonts (Noto Sans SC) */}
  <GoogleFontsLoader />

  {/* Load font utility classes */}
  <FontUtils />

  {/* 启用视图过渡动画 */}
  <meta name="view-transition" content="same-origin" />
</head>
