---
import type { PaginationProps } from "@/types/common";

export interface Props extends PaginationProps {
  className?: string;
}

const { start, end, total, currentPage, lastPage, className = "" } = Astro.props;

const startItem = start + 1;
const endItem = end + 1;
---

<div class={`text-sm text-content-secondary flex items-center gap-4 ${className}`}>
  <span>
    Showing items <strong class="text-content">{startItem}</strong>-<strong class="text-content"
      >{endItem}</strong
    > of <strong class="text-content">{total}</strong> items
  </span>
  <span class="text-xs">
    Page <strong class="text-content">{currentPage}</strong> of <strong class="text-content"
      >{lastPage}</strong
    > pages
  </span>
</div>
